# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with  defaults from defaults.sls ##}
{% import_yaml "mysql/defaults.yaml" as default_settings %}

{## Merge in mysql pillar ##}
{% set mysql = salt['pillar.get'](
  'mysql',
  default=default_settings.mysql,
  merge=True)
%}

{% if mysql.application|lower == 'percona' %}
  {% set os_map = salt['grains.filter_by']({
    'Debian': {
      'debconf_utils_pkg': 'debconf-utils',
      'server_pkg': 'percona-server-server-' ~ mysql.version,
      'client_pkg': 'percona-server-client-' ~ mysql.version,
      'python_pkg': 'python-mysqldb',
      'server_svc': 'mysql',
      'config_directory': '/etc/mysql/conf.d',
      'config_file': '/etc/mysql/my.cnf',
      'backup_script': '/usr/local/bin/backup.sh',
      'backup_log': '/var/log/mysql/backup.log',
      'repo': {
          'humanname': 'percona',
          'name': 'deb http://repo.percona.com/apt ' ~ oscodename ~ ' main',
          'file': '/etc/apt/sources.list.d/percona.list',
          'keyid': '4D1BB29D63D98E422B2113B19334A25F8507EFA5',
          'keyserver': 'ha.pool.sks-keyservers.net',
        }
    },
  }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
{% elif mysql.application|lower == 'mariadb' %}
  {% set os_map = salt['grains.filter_by']({
    'Debian': {
      'debconf_utils_pkg': 'debconf-utils',
      'server_pkg': 'mariadb-server-' ~ mysql.version,
      'client_pkg': 'mariadb-server-' ~ mysql.version,
      'python_pkg': 'python-mysqldb',
      'server_svc': 'mysql',
      'config_directory': '/etc/mysql/conf.d',
      'config_file': '/etc/mysql/my.cnf',
      'backup_script': '/usr/local/bin/backup.sh',
      'backup_log': '/var/log/mysql/backup.log',
      'repo': {
          'humanname': 'mariadb',
          'name': 'deb http://ftp.igh.cnrs.fr/pub/mariadb/repo/' ~ mysql.version ~ '/' ~ os|lower ~ ' ' ~ oscodename ~ ' main',
          'file': '/etc/apt/sources.list.d/mariadb.list',
          'keyid': 'B42F6819007F00F88E364FD4036A9C25BF357DD4',
          'keyserver': 'ha.pool.sks-keyservers.net',
        }
    },
  }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
{% else %}
  {% if mysql.manage_repo %}
    {% set os_map = salt['grains.filter_by']({
      'Debian': {
        'debconf_utils_pkg': 'debconf-utils',
        'server_pkg': 'mysql-community-server',
        'client_pkg': 'mysql-community-client',
        'python_pkg': 'python-mysqldb',
        'server_svc': 'mysql',
        'config_directory': '/etc/mysql/conf.d',
        'config_file': '/etc/mysql/my.cnf',
        'backup_script': '/usr/local/bin/backup.sh',
        'backup_log': '/var/log/mysql/backup.log',
        'repo': {
            'humanname': 'mysql-' ~ mysql.version,
            'name': 'deb http://repo.mysql.com/apt/' ~ os|lower ~ '/ ' ~ oscodename|lower ~ ' mysql-' ~ mysql.version,
            'file': '/etc/apt/sources.list.d/mysql.list',
            'keyid': 'A4A9406876FCBD3C456770C88C718D3B5072E1F5',
            'keyserver': 'ha.pool.sks-keyservers.net',
          }
      },
    }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
  {% else %}
    {% set os_map = salt['grains.filter_by']({
      'Debian': {
        'debconf_utils_pkg': 'debconf-utils',
        'server_pkg': 'mysql-server-' ~ mysql.version,
        'client_pkg': 'mysql-client-' ~ mysql.version,
        'python_pkg': 'python-mysqldb',
        'server_svc': 'mysql',
        'config_directory': '/etc/mysql/conf.d',
        'config_file': '/etc/mysql/my.cnf',
        'backup_script': '/usr/local/bin/backup.sh',
        'backup_log': '/var/log/mysql/backup.log',
      },
    }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
  {% endif %}
{% endif %}


{## Merge the flavor_map to the default settings ##}
{% do mysql.update(os_map) %}
