# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with  defaults from defaults.sls ##}
{% import_yaml "mysql/defaults.yaml" as default_settings %}

{% set application = salt['pillar.get']('mysql:application', default_settings.mysql.application) %}

{% if application|lower == 'percona' %}
  {% set version       = "%s"|format(salt['pillar.get']('mysql:version', '5.7')) %}
  {% set major_version = "%s"|format(version.split('.')[:2]|join('.')) %}
  {% set pkg_suffix    = '-' ~ major_version  %}
  {% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'debconf_utils_pkg': 'debconf-utils',
      'server_pkg': 'percona-server-server' ~ pkg_suffix,
      'client_pkg': 'percona-server-client' ~ pkg_suffix,
      'python_pkg': 'python-mysqldb',
      'server_svc': 'mysql',
      'config_directory': '/etc/mysql/conf.d',
      'config_file': '/etc/mysql/my.cnf',
      'backup_script': '/usr/local/bin/backup.sh',
      'backup_log': '/var/log/mysql/backup.log',
      'repo': {
          'humanname': 'percona',
          'name': 'deb http://repo.percona.com/apt ' ~ oscodename ~ ' main',
          'file': '/etc/apt/sources.list.d/percona.list',
          'keyid': '4D1BB29D63D98E422B2113B19334A25F8507EFA5',
          'keyserver': 'ha.pool.sks-keyservers.net',
        }
    },
  }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
{% elif application|lower == 'mariadb' %}
  {% set version       = "%s"|format(salt['pillar.get']('mysql:version', '10.1')) %}
  {% set major_version = "%s"|format(version.split('.')[:2]|join('.')) %}
  {% set pkg_suffix    = '-' ~ major_version  %}
  {% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'debconf_utils_pkg': 'debconf-utils',
      'server_pkg': 'mariadb-server' ~ pkg_suffix,
      'client_pkg': 'mariadb-client' ~ pkg_suffix,
      'python_pkg': 'python-mysqldb',
      'server_svc': 'mysql',
      'config_directory': '/etc/mysql/conf.d',
      'config_file': '/etc/mysql/my.cnf',
      'backup_script': '/usr/local/bin/backup.sh',
      'backup_log': '/var/log/mysql/backup.log',
      'repo': {
          'humanname': 'mariadb',
          'name': 'deb http://ftp.igh.cnrs.fr/pub/mariadb/repo/' ~ major_version ~ '/' ~ os|lower ~ ' ' ~ oscodename ~ ' main',
          'file': '/etc/apt/sources.list.d/mariadb.list',
          'keyid': '199369E5404BD5FC7D2FE43BCBCB082A1BB943DB',
          'keyserver': 'keyserver.ubuntu.com',
        }
    },
  }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
{% else %}
  {% set version       = "%s"|format(salt['pillar.get']('mysql:version', '8.0')) %}
  {% set major_version = "%s"|format(version.split('.')[:2]|join('.')) %}
  {% set pkg_suffix    = '-' ~ major_version  %}
  {% if mysql.manage_repo %}
    {% set os_family_map = salt['grains.filter_by']({
      'Debian': {
        'debconf_utils_pkg': 'debconf-utils',
        'server_pkg': 'mysql-community-server',
        'client_pkg': 'mysql-community-client',
        'python_pkg': 'python-mysqldb',
        'server_svc': 'mysql',
        'config_directory': '/etc/mysql/conf.d',
        'config_file': '/etc/mysql/my.cnf',
        'backup_script': '/usr/local/bin/backup.sh',
        'backup_log': '/var/log/mysql/backup.log',
        'repo': {
            'humanname': 'mysql-' ~ major_version,
            'name': 'deb http://repo.mysql.com/apt/' ~ os|lower ~ '/ ' ~ oscodename|lower ~ ' mysql-' ~ major_version,
            'file': '/etc/apt/sources.list.d/mysql.list',
            'keyid': 'A4A9406876FCBD3C456770C88C718D3B5072E1F5',
            'keyserver': 'ha.pool.sks-keyservers.net',
          }
      },
    }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
  {% else %}
    {% set os_family_map = salt['grains.filter_by']({
      'Debian': {
        'debconf_utils_pkg': 'debconf-utils',
        'server_pkg': 'mysql-server' ~ pkg_suffix,
        'client_pkg': 'mysql-client' ~ pkg_suffix,
        'python_pkg': 'python-mysqldb',
        'server_svc': 'mysql',
        'config_directory': '/etc/mysql/conf.d',
        'config_file': '/etc/mysql/my.cnf',
        'backup_script': '/usr/local/bin/backup.sh',
        'backup_log': '/var/log/mysql/backup.log',
      },
    }, grain='os_family', merge=salt['pillar.get']('mysql:lookup')) %}
  {% endif %}
{% endif %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.mysql.update(os_family_map) %}

{## Merge in php:lookup pillar ##}
{% set mysql = salt['pillar.get'](
    'mysql',
    default=default_settings.mysql,
    merge=True
) %}
